<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/main_page.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> LOL 전적 검색 사이트 </h3>
    <ul>
      <li> Spring Boot</li>
    </ul>
    <p>
      인기 온라인 게임 League Of Legend의 전적 검색 사이트 OP.GG의 클론 사이트를 만들어 보았습니다.
      <br><br>
      Orianna 라이브러리를 사용해서 RIOT API로부터 원하는 값을 받아옵니다.
    </p>
    <a class="project-link" href="https://github.com/Kkaemi/kkaemiGG" target="_blank">자세히</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/food_fighter.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Food Fighter </h3>
    <ul>
      <li> STS</li>
    </ul>
    <p>
      팀 프로젝트로 맛집검색 사이트를 구현해 보았습니다.
      <br><br>
      FAQ, QnA게시판, 유저 랭킹을 제작했습니다.
    </p>
    <a class="project-link" href="https://github.com/Kkaemi/FoodFighter" target="_blank">자세히</a>
  </div>
</div>
